<main class="container">
    <section class="grid">
        @for (user of users; track user.id) {
        <article>
            <header>
                <h3 style="margin-bottom: 0;">{{ user.name }}</h3>
            </header>

            <p><strong>ID:</strong> {{ user.id }}</p>

            <footer>
                <a [href]="'mailto:' + user.email">
                    <small>{{ user.email }}</small>
                </a>
            </footer>
        </article>
        } @empty {
        <article style="text-align: center;">
            <p>No se encontraron usuarios registrados.</p>
        </article>
        }
    </section>
</main>